[submodule "cubozoa"]
	path = cubozoa
	url = https://github.com/MokaHiko/cubozoa.git
[submodule "cubozoa_ecs"]
	path = cubozoa_ecs
	url = https://github.com/MokaHiko/cubozoa_ecs.git
[submodule "cbz"]
	path = cbz
	url = https://github.com/MokaHiko/cbz.git
